html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#app {
    background-color: aliceblue;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    font-size: xx-large;
    border-radius: 50%;
    border: none;
}

button:nth-child(1) {
    background-color: green;
}

p {
    text-align: center;
    font-size: xx-large;
}

button:last-child {
    background-color: red;
}